{% block content %} 
	<div class="container-fluid white sponsors">
		<ul class="list-unstyled list-inline">
			<li><img src="{{ "sponsor_braves.png" | asset_url }}" class="img-responsive" alt=""></li>
			<li><img src="{{ "sponsor_fox_sports.png" | asset_url }}" class="img-responsive" alt=""></li>
			<li><img src="{{ "sponsor_mlb_network.png" | asset_url }}" class="img-responsive" alt=""></li>
			<li><img src="{{ "sponsor_cnn.png" | asset_url }}" class="img-responsive" alt=""></li>
			<li><img src="{{ "sponsor_hln.png" | asset_url }}" class="img-responsive" alt=""></li>
			<li><img src="{{ "sponsor_washington_nationals.png" | asset_url }}" class="img-responsive" alt=""></li>
			<li><img src="{{ "sponsor_cbs_sports.png" | asset_url }}" class="img-responsive" alt=""></li>
			<li><img src="{{ "sponsor_patriots.png" | asset_url }}" class="img-responsive" alt=""></li>
		</ul>
	</div>
{% endblock %}